@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-audiowide: 'Audiowide', cursive;
  --font-permanentmarker: 'Permanent Marker', cursive;
  --animate-blob: blob 7s infinite;
}

@layer base {
  html {
    font-family: var(--font-poppins);
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    cursor: pointer;
  }

  .btn-primary {
    @apply py-2 px-4 text-white rounded-lg bg-linear-to-r from-purple-500 to-pink-500;
  }
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}
